™ {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

nav, header, main, footer, section, figure {
    display: block;
    margin: 0;
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url("schnazi.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}